<% provide(:title, t("detail.name")) %>
<% provide(:base_title, t("base.title")) %>
<div class="col-lg-9">
  <%= search_form_for @l, url: admin_locations_path, class: "form-group d-flex mb-2 form-search-user float-right" do |f| %>
    <%= f.search_field :name_or_address_cont, class: "form-control input-search-user mr-3", placeholder: t("base.search") %>
    <%= button_tag(type: "submit", class: "btn btn-dark") do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
  <div class="card card-total">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to t("booking.new"), new_admin_location_path, class: "btn btn-success"%>
      </h5>
    </div>
  </div>
  <table class="table border-bodered table-manager">
    <thead>
      <tr>
        <th scope="col"> <%= t "booking.yard_name" %> </th>
        <th scope="col"> <%= t "home.phone" %> </th>
        <th scope="col"> <%= t "home.address" %> </th>
        <th scope="col"> <%= t "home.option" %> </th>
      </tr>
    </thead>
    <tbody>
      <%= render @locations %>
    </tbody>
  </table>
  <%= will_paginate @locations %>
</div>
