<tr>
  <td> <%= yard.code %> </td>
  <td> <%= yard.type_yard %> </td>
  <td>
    <%= link_to t("detail.name"), "#", class: "btn btn-primary" %>
    <%= link_to t("booking.edit"),"#", class: "btn btn-primary" %>
    <%= link_to t("booking.delete"), "#", class: "btn btn-danger" %>
  </td>
</tr>
